body {
  background-image: url("../imagenes/fondo.jpg");
  background-size: 100%;
  font-family: "Pangolin", cursive;
  font-size: 15px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.color {
  filter: grayscale(100%);
}

h2 {
  font-family: "Pacifico", cursive;
  color: #18aed3;
}

.inicio {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.inicio .saludo {
  line-height: 1.6em;
}

.home {
  text-align: center;
  border: solid 10px black;
  width: 25%;
  height: auto;
  border-radius: 7%;
  background-color: antiquewhite;
  padding: 2%;
  top: 10px;
  position: absolute;
}
.home .em.em-hand {
  font-size: 15px;
}
.home .em.em-hand .em.em-question {
  font-size: 15px;
}

.logueo {
  width: 90%;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5%;
}
.botones li {
  list-style: none;
  padding: 2%;
  width: 280px;
  height: 30px;
  text-align: center;
}

.botonDificultad {
  background-color: #f3982f;
  border-radius: 8px;
  font-family: "Pangolin", cursive;
  border-style: none;
  color: white;
  display: block;
  width: 100%;
  height: 120%;
}

.oculto {
  display: none;
}

.error {
  width: 280px;
  height: 30px;
  margin-left: 8%;
}
.error .botonError {
  background-color: #e6b6e6;
  border-radius: 4px;
  font-family: "Pangolin", cursive;
  border-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: rgba(94, 17, 74, 0.897);
  display: block;
  width: 100%;
  height: 120%;
  filter: opacity(0.5);
}

.tablero {
  border: solid 12px black;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10%;
  right: 10%;
  width: 80;
  height: auto;
  border-radius: 20px;
  background-color: #f3ecec;
  background-color: rgba(255, 255, 255, 0.5);
}
.tablero .intentos {
  width: 42%;
  border: solid 4px #25afe6;
  border-radius: 7px;
  background-color: white;
  text-align: center;
  margin-left: 29%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
.tablero .intentos .text {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.numIntentos {
  color: #18aed3;
}

.encabezadoTablero {
  width: 50%;
  display: flex;
  position: relative;
  display: block;
  left: 250px;
}
.encabezadoTablero .texto {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

.intentosTitulo {
  color: #18aed3;
}
.intentosTitulo .nivelNombre {
  color: #18aed3;
}

.hola {
  font-size: 14px;
}
.hola .hola1 {
  color: #18aed3;
  font-size: 14px;
}

.fichas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2px;
}
.fichas .tarjeta {
  width: 100px;
  height: 100px;
  border: solid 2px #f3982f;
  margin: 4px;
}

.girar {
  transform: rotateY(1080deg);
  transition: all 1s ease-in-out;
}

.ranking1, .ranking2 {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.containerRanking, .containerEnd {
  text-align: center;
  border: solid 4px black;
  width: 20%;
  height: auto;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 2%;
  top: 40px;
  position: absolute;
}

.botonJuego {
  width: 50%;
  height: 40px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botonVolver {
  background-color: #f3982f;
  border-radius: 8px;
  font-family: "Pangolin", cursive;
  border-style: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

.opacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

table {
  color: #f3982f;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 2px solid #272525;
  padding: 8px;
}

td {
  text-align: left;
}

th {
  text-align: center;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 223px -90.6666666667px #00ff4d, -212px -4.6666666667px #00ffc4, 227px -47.6666666667px #00e6ff, 232px 39.3333333333px #00ffc4, 28px -39.6666666667px #ff0051, -121px -341.6666666667px #ff0095, -117px -78.6666666667px #ff00b7, -224px -205.6666666667px #00ff99, 176px -108.6666666667px #95ff00, -55px -303.6666666667px #ff0900, -247px -172.6666666667px #62ff00, -168px -261.6666666667px #09ff00, -193px -278.6666666667px #b7ff00, -99px -17.6666666667px #00ff3c, 20px -257.6666666667px #dd00ff, -222px -147.6666666667px #ff5e00, 194px -195.6666666667px #1e00ff, 61px 35.3333333333px #ff00fb, 248px -327.6666666667px #ffd900, 147px -383.6666666667px #ffa600, 152px -146.6666666667px #ddff00, 190px -83.6666666667px #5eff00, -24px -207.6666666667px #ff00a6, -189px -286.6666666667px #00d5ff, 68px -115.6666666667px #ff2f00, -117px -46.6666666667px #4800ff, -14px -328.6666666667px #001eff, -208px -114.6666666667px #00ff33, 41px 12.3333333333px #2f00ff, 61px 49.3333333333px #ff4d00, 47px -323.6666666667px #ff001a, -175px -368.6666666667px #ddff00, 73px -302.6666666667px #bfff00, 82px -341.6666666667px #ff0022, 206px 13.3333333333px #77ff00, 100px -56.6666666667px #e600ff, 66px -87.6666666667px #51ff00, -219px 33.3333333333px #00a2ff, -163px -270.6666666667px #a200ff, -127px -227.6666666667px #7700ff, -181px -110.6666666667px #dd00ff, -23px -21.6666666667px #00ffe1, 91px 5.3333333333px #00ff80, 53px -139.6666666667px #ff5500, -35px -292.6666666667px #8400ff, 247px -334.6666666667px #001eff, -81px -298.6666666667px #cc00ff, 164px -292.6666666667px #f2ff00, 26px -333.6666666667px #ff0004, 126px -61.6666666667px #ff0037, -209px 8.3333333333px #ff0022;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 223px -90.6666666667px #00ff4d, -212px -4.6666666667px #00ffc4, 227px -47.6666666667px #00e6ff, 232px 39.3333333333px #00ffc4, 28px -39.6666666667px #ff0051, -121px -341.6666666667px #ff0095, -117px -78.6666666667px #ff00b7, -224px -205.6666666667px #00ff99, 176px -108.6666666667px #95ff00, -55px -303.6666666667px #ff0900, -247px -172.6666666667px #62ff00, -168px -261.6666666667px #09ff00, -193px -278.6666666667px #b7ff00, -99px -17.6666666667px #00ff3c, 20px -257.6666666667px #dd00ff, -222px -147.6666666667px #ff5e00, 194px -195.6666666667px #1e00ff, 61px 35.3333333333px #ff00fb, 248px -327.6666666667px #ffd900, 147px -383.6666666667px #ffa600, 152px -146.6666666667px #ddff00, 190px -83.6666666667px #5eff00, -24px -207.6666666667px #ff00a6, -189px -286.6666666667px #00d5ff, 68px -115.6666666667px #ff2f00, -117px -46.6666666667px #4800ff, -14px -328.6666666667px #001eff, -208px -114.6666666667px #00ff33, 41px 12.3333333333px #2f00ff, 61px 49.3333333333px #ff4d00, 47px -323.6666666667px #ff001a, -175px -368.6666666667px #ddff00, 73px -302.6666666667px #bfff00, 82px -341.6666666667px #ff0022, 206px 13.3333333333px #77ff00, 100px -56.6666666667px #e600ff, 66px -87.6666666667px #51ff00, -219px 33.3333333333px #00a2ff, -163px -270.6666666667px #a200ff, -127px -227.6666666667px #7700ff, -181px -110.6666666667px #dd00ff, -23px -21.6666666667px #00ffe1, 91px 5.3333333333px #00ff80, 53px -139.6666666667px #ff5500, -35px -292.6666666667px #8400ff, 247px -334.6666666667px #001eff, -81px -298.6666666667px #cc00ff, 164px -292.6666666667px #f2ff00, 26px -333.6666666667px #ff0004, 126px -61.6666666667px #ff0037, -209px 8.3333333333px #ff0022;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 223px -90.6666666667px #00ff4d, -212px -4.6666666667px #00ffc4, 227px -47.6666666667px #00e6ff, 232px 39.3333333333px #00ffc4, 28px -39.6666666667px #ff0051, -121px -341.6666666667px #ff0095, -117px -78.6666666667px #ff00b7, -224px -205.6666666667px #00ff99, 176px -108.6666666667px #95ff00, -55px -303.6666666667px #ff0900, -247px -172.6666666667px #62ff00, -168px -261.6666666667px #09ff00, -193px -278.6666666667px #b7ff00, -99px -17.6666666667px #00ff3c, 20px -257.6666666667px #dd00ff, -222px -147.6666666667px #ff5e00, 194px -195.6666666667px #1e00ff, 61px 35.3333333333px #ff00fb, 248px -327.6666666667px #ffd900, 147px -383.6666666667px #ffa600, 152px -146.6666666667px #ddff00, 190px -83.6666666667px #5eff00, -24px -207.6666666667px #ff00a6, -189px -286.6666666667px #00d5ff, 68px -115.6666666667px #ff2f00, -117px -46.6666666667px #4800ff, -14px -328.6666666667px #001eff, -208px -114.6666666667px #00ff33, 41px 12.3333333333px #2f00ff, 61px 49.3333333333px #ff4d00, 47px -323.6666666667px #ff001a, -175px -368.6666666667px #ddff00, 73px -302.6666666667px #bfff00, 82px -341.6666666667px #ff0022, 206px 13.3333333333px #77ff00, 100px -56.6666666667px #e600ff, 66px -87.6666666667px #51ff00, -219px 33.3333333333px #00a2ff, -163px -270.6666666667px #a200ff, -127px -227.6666666667px #7700ff, -181px -110.6666666667px #dd00ff, -23px -21.6666666667px #00ffe1, 91px 5.3333333333px #00ff80, 53px -139.6666666667px #ff5500, -35px -292.6666666667px #8400ff, 247px -334.6666666667px #001eff, -81px -298.6666666667px #cc00ff, 164px -292.6666666667px #f2ff00, 26px -333.6666666667px #ff0004, 126px -61.6666666667px #ff0037, -209px 8.3333333333px #ff0022;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 223px -90.6666666667px #00ff4d, -212px -4.6666666667px #00ffc4, 227px -47.6666666667px #00e6ff, 232px 39.3333333333px #00ffc4, 28px -39.6666666667px #ff0051, -121px -341.6666666667px #ff0095, -117px -78.6666666667px #ff00b7, -224px -205.6666666667px #00ff99, 176px -108.6666666667px #95ff00, -55px -303.6666666667px #ff0900, -247px -172.6666666667px #62ff00, -168px -261.6666666667px #09ff00, -193px -278.6666666667px #b7ff00, -99px -17.6666666667px #00ff3c, 20px -257.6666666667px #dd00ff, -222px -147.6666666667px #ff5e00, 194px -195.6666666667px #1e00ff, 61px 35.3333333333px #ff00fb, 248px -327.6666666667px #ffd900, 147px -383.6666666667px #ffa600, 152px -146.6666666667px #ddff00, 190px -83.6666666667px #5eff00, -24px -207.6666666667px #ff00a6, -189px -286.6666666667px #00d5ff, 68px -115.6666666667px #ff2f00, -117px -46.6666666667px #4800ff, -14px -328.6666666667px #001eff, -208px -114.6666666667px #00ff33, 41px 12.3333333333px #2f00ff, 61px 49.3333333333px #ff4d00, 47px -323.6666666667px #ff001a, -175px -368.6666666667px #ddff00, 73px -302.6666666667px #bfff00, 82px -341.6666666667px #ff0022, 206px 13.3333333333px #77ff00, 100px -56.6666666667px #e600ff, 66px -87.6666666667px #51ff00, -219px 33.3333333333px #00a2ff, -163px -270.6666666667px #a200ff, -127px -227.6666666667px #7700ff, -181px -110.6666666667px #dd00ff, -23px -21.6666666667px #00ffe1, 91px 5.3333333333px #00ff80, 53px -139.6666666667px #ff5500, -35px -292.6666666667px #8400ff, 247px -334.6666666667px #001eff, -81px -298.6666666667px #cc00ff, 164px -292.6666666667px #f2ff00, 26px -333.6666666667px #ff0004, 126px -61.6666666667px #ff0037, -209px 8.3333333333px #ff0022;
  }
}
@keyframes bang {
  to {
    box-shadow: 223px -90.6666666667px #00ff4d, -212px -4.6666666667px #00ffc4, 227px -47.6666666667px #00e6ff, 232px 39.3333333333px #00ffc4, 28px -39.6666666667px #ff0051, -121px -341.6666666667px #ff0095, -117px -78.6666666667px #ff00b7, -224px -205.6666666667px #00ff99, 176px -108.6666666667px #95ff00, -55px -303.6666666667px #ff0900, -247px -172.6666666667px #62ff00, -168px -261.6666666667px #09ff00, -193px -278.6666666667px #b7ff00, -99px -17.6666666667px #00ff3c, 20px -257.6666666667px #dd00ff, -222px -147.6666666667px #ff5e00, 194px -195.6666666667px #1e00ff, 61px 35.3333333333px #ff00fb, 248px -327.6666666667px #ffd900, 147px -383.6666666667px #ffa600, 152px -146.6666666667px #ddff00, 190px -83.6666666667px #5eff00, -24px -207.6666666667px #ff00a6, -189px -286.6666666667px #00d5ff, 68px -115.6666666667px #ff2f00, -117px -46.6666666667px #4800ff, -14px -328.6666666667px #001eff, -208px -114.6666666667px #00ff33, 41px 12.3333333333px #2f00ff, 61px 49.3333333333px #ff4d00, 47px -323.6666666667px #ff001a, -175px -368.6666666667px #ddff00, 73px -302.6666666667px #bfff00, 82px -341.6666666667px #ff0022, 206px 13.3333333333px #77ff00, 100px -56.6666666667px #e600ff, 66px -87.6666666667px #51ff00, -219px 33.3333333333px #00a2ff, -163px -270.6666666667px #a200ff, -127px -227.6666666667px #7700ff, -181px -110.6666666667px #dd00ff, -23px -21.6666666667px #00ffe1, 91px 5.3333333333px #00ff80, 53px -139.6666666667px #ff5500, -35px -292.6666666667px #8400ff, 247px -334.6666666667px #001eff, -81px -298.6666666667px #cc00ff, 164px -292.6666666667px #f2ff00, 26px -333.6666666667px #ff0004, 126px -61.6666666667px #ff0037, -209px 8.3333333333px #ff0022;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@media (max-width: 750px) {
  .home {
    text-align: center;
    border: solid 12px black;
    width: 28%;
    height: auto;
    border-radius: 30px;
    margin-top: 7%;
  }

  .botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5%;
  }
  .botones li {
    list-style: none;
    padding: 3%;
    width: 170px;
    height: 30px;
    text-align: center;
    margin-top: 3px;
  }

  .botonDificultad {
    display: block;
    width: 100%;
    height: 120%;
  }

  .error {
    width: 170px;
    height: 30px;
    margin-left: 23px;
  }
  .error .botonError {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: block;
    width: 100%;
    height: 120%;
  }

  .saludo {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .saludo .em.em-question {
    font-size: 10px;
  }

  .logueo {
    width: 100%;
    margin-right: 6%;
  }

  .encabezadoTablero {
    left: 26%;
  }

  .tablero {
    border: solid 14px black;
    width: 320px;
    height: auto;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 15px;
  }

  .fichas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 2px;
  }
  .fichas .tarjeta {
    width: 90px;
    height: 90px;
    border: solid 2px #f3982f;
    margin: 2px;
  }

  .containerRanking, .containerEnd {
    right: 36%;
    width: 40%;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
