body {
  background-image: url("../imagenes/fondo.jpg");
  background-size: 100%;
  font-family: "Pangolin", cursive;
  font-size: 15px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.color {
  filter: grayscale(100%);
}

h2 {
  font-family: "Pacifico", cursive;
  color: #18aed3;
}

.inicio {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.inicio .saludo {
  line-height: 1.6em;
}

.home {
  text-align: center;
  border: solid 10px black;
  width: 25%;
  right: 0;
  left: 0;
  margin: auto;
  height: auto;
  border-radius: 7%;
  background-color: antiquewhite;
  padding: 2%;
  top: 10px;
  position: absolute;
}
.home .em.em-hand {
  font-size: 15px;
}
.home .em.em-hand .em.em-question {
  font-size: 15px;
}

.logueo {
  width: 90%;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5%;
}
.botones li {
  list-style: none;
  padding: 2%;
  width: 280px;
  height: 30px;
  text-align: center;
}

.botonDificultad {
  background-color: #f3982f;
  border-radius: 8px;
  font-family: "Pangolin", cursive;
  border-style: none;
  color: white;
  display: block;
  width: 100%;
  height: 120%;
}

.botonDificultad:hover {
  cursor: pointer;
}

.oculto {
  display: none;
}

.error {
  width: 280px;
  height: 40px;
  margin-left: 15%;
}
.error .botonError {
  background-color: #e6b6e6;
  border-radius: 8px;
  font-family: "Pangolin", cursive;
  border-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: rgba(94, 17, 74, 0.897);
  display: block;
  width: 100%;
  height: 100%;
  filter: opacity(0.5);
}

.tablero {
  border: solid 12px black;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  height: auto;
  border-radius: 20px;
  background-color: #f3ecec;
  background-color: rgba(255, 255, 255, 0.5);
}
.tablero .intentos {
  width: 42%;
  border: solid 4px #25afe6;
  border-radius: 7px;
  background-color: white;
  text-align: center;
  margin-left: 29%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
.tablero .intentos .text {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.numIntentos {
  color: #18aed3;
}

.encabezadoTablero {
  width: 50%;
  display: flex;
  position: relative;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}
.encabezadoTablero .texto {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

.intentosTitulo {
  color: #18aed3;
}
.intentosTitulo .nivelNombre {
  color: #18aed3;
}

.hola {
  font-size: 14px;
}
.hola .hola1 {
  color: #18aed3;
  font-size: 14px;
}

.fichas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2px;
}
.fichas .tarjeta {
  width: 100px;
  height: 100px;
  border: solid 2px #f3982f;
  margin: 4px;
}

.tarjeta:hover {
  cursor: pointer;
}

.girar {
  transform: rotateY(1080deg);
  transition: all 1s ease-in-out;
}

.ranking1, .ranking2 {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.containerRanking, .containerEnd {
  text-align: center;
  border: solid 4px black;
  width: 20%;
  height: auto;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 2%;
  top: 40px;
  position: absolute;
}

.botonJuego {
  width: 50%;
  height: 40px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botonVolver {
  background-color: #f3982f;
  border-radius: 8px;
  font-family: "Pangolin", cursive;
  border-style: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

.botonVolver:hover {
  cursor: pointer;
}

.opacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

table {
  color: #f3982f;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 2px solid #272525;
  padding: 8px;
}

.result {
  color: #18aed3;
}

td {
  text-align: left;
}

th {
  text-align: center;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -70px -60.6666666667px #003cff, -2px -339.6666666667px #ff0077, -96px -202.6666666667px #ff008c, -242px -256.6666666667px #ff00a6, 18px -378.6666666667px #ff004d, 4px -268.6666666667px #0091ff, -151px -402.6666666667px #ae00ff, 74px -147.6666666667px #ff0900, 82px -274.6666666667px #00ff9d, -145px -172.6666666667px #0062ff, -218px -391.6666666667px #ff3c00, -142px -22.6666666667px #aeff00, 96px 46.3333333333px deepskyblue, -175px -113.6666666667px #04ff00, 192px -20.6666666667px #ff0040, -28px -365.6666666667px #00ff62, -80px -281.6666666667px #00fbff, 13px -164.6666666667px #ff5100, -148px -12.6666666667px #7300ff, 237px -3.6666666667px #5100ff, -19px -139.6666666667px #00ffb7, 41px -221.6666666667px #00fff7, -6px -398.6666666667px #ff5e00, -83px -36.6666666667px #00ff77, -27px -11.6666666667px #6aff00, 38px -170.6666666667px #ff9100, -7px -171.6666666667px #fb00ff, -202px -90.6666666667px #c400ff, -29px -30.6666666667px #95ff00, -50px 33.3333333333px #002bff, 16px -121.6666666667px #9900ff, -236px -167.6666666667px #00ff91, 151px -130.6666666667px #ff002b, -220px -112.6666666667px #bf00ff, 35px -95.6666666667px #ff0051, 223px -102.6666666667px deepskyblue, -18px -165.6666666667px #0095ff, 220px 40.3333333333px #d9ff00, -224px -162.6666666667px #ff1100, -51px -199.6666666667px #ff002b, 31px -19.6666666667px #ffae00, 22px -237.6666666667px #4dff00, 67px -272.6666666667px #fbff00, -20px -246.6666666667px #ff003c, -160px 78.3333333333px #e1ff00, -180px -82.6666666667px #0d00ff, -40px -208.6666666667px #001aff, -240px -282.6666666667px #ff00e1, 109px -21.6666666667px #ffa600, 85px -40.6666666667px #ff0080, -6px -376.6666666667px #ffd500;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -70px -60.6666666667px #003cff, -2px -339.6666666667px #ff0077, -96px -202.6666666667px #ff008c, -242px -256.6666666667px #ff00a6, 18px -378.6666666667px #ff004d, 4px -268.6666666667px #0091ff, -151px -402.6666666667px #ae00ff, 74px -147.6666666667px #ff0900, 82px -274.6666666667px #00ff9d, -145px -172.6666666667px #0062ff, -218px -391.6666666667px #ff3c00, -142px -22.6666666667px #aeff00, 96px 46.3333333333px deepskyblue, -175px -113.6666666667px #04ff00, 192px -20.6666666667px #ff0040, -28px -365.6666666667px #00ff62, -80px -281.6666666667px #00fbff, 13px -164.6666666667px #ff5100, -148px -12.6666666667px #7300ff, 237px -3.6666666667px #5100ff, -19px -139.6666666667px #00ffb7, 41px -221.6666666667px #00fff7, -6px -398.6666666667px #ff5e00, -83px -36.6666666667px #00ff77, -27px -11.6666666667px #6aff00, 38px -170.6666666667px #ff9100, -7px -171.6666666667px #fb00ff, -202px -90.6666666667px #c400ff, -29px -30.6666666667px #95ff00, -50px 33.3333333333px #002bff, 16px -121.6666666667px #9900ff, -236px -167.6666666667px #00ff91, 151px -130.6666666667px #ff002b, -220px -112.6666666667px #bf00ff, 35px -95.6666666667px #ff0051, 223px -102.6666666667px deepskyblue, -18px -165.6666666667px #0095ff, 220px 40.3333333333px #d9ff00, -224px -162.6666666667px #ff1100, -51px -199.6666666667px #ff002b, 31px -19.6666666667px #ffae00, 22px -237.6666666667px #4dff00, 67px -272.6666666667px #fbff00, -20px -246.6666666667px #ff003c, -160px 78.3333333333px #e1ff00, -180px -82.6666666667px #0d00ff, -40px -208.6666666667px #001aff, -240px -282.6666666667px #ff00e1, 109px -21.6666666667px #ffa600, 85px -40.6666666667px #ff0080, -6px -376.6666666667px #ffd500;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -70px -60.6666666667px #003cff, -2px -339.6666666667px #ff0077, -96px -202.6666666667px #ff008c, -242px -256.6666666667px #ff00a6, 18px -378.6666666667px #ff004d, 4px -268.6666666667px #0091ff, -151px -402.6666666667px #ae00ff, 74px -147.6666666667px #ff0900, 82px -274.6666666667px #00ff9d, -145px -172.6666666667px #0062ff, -218px -391.6666666667px #ff3c00, -142px -22.6666666667px #aeff00, 96px 46.3333333333px deepskyblue, -175px -113.6666666667px #04ff00, 192px -20.6666666667px #ff0040, -28px -365.6666666667px #00ff62, -80px -281.6666666667px #00fbff, 13px -164.6666666667px #ff5100, -148px -12.6666666667px #7300ff, 237px -3.6666666667px #5100ff, -19px -139.6666666667px #00ffb7, 41px -221.6666666667px #00fff7, -6px -398.6666666667px #ff5e00, -83px -36.6666666667px #00ff77, -27px -11.6666666667px #6aff00, 38px -170.6666666667px #ff9100, -7px -171.6666666667px #fb00ff, -202px -90.6666666667px #c400ff, -29px -30.6666666667px #95ff00, -50px 33.3333333333px #002bff, 16px -121.6666666667px #9900ff, -236px -167.6666666667px #00ff91, 151px -130.6666666667px #ff002b, -220px -112.6666666667px #bf00ff, 35px -95.6666666667px #ff0051, 223px -102.6666666667px deepskyblue, -18px -165.6666666667px #0095ff, 220px 40.3333333333px #d9ff00, -224px -162.6666666667px #ff1100, -51px -199.6666666667px #ff002b, 31px -19.6666666667px #ffae00, 22px -237.6666666667px #4dff00, 67px -272.6666666667px #fbff00, -20px -246.6666666667px #ff003c, -160px 78.3333333333px #e1ff00, -180px -82.6666666667px #0d00ff, -40px -208.6666666667px #001aff, -240px -282.6666666667px #ff00e1, 109px -21.6666666667px #ffa600, 85px -40.6666666667px #ff0080, -6px -376.6666666667px #ffd500;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -70px -60.6666666667px #003cff, -2px -339.6666666667px #ff0077, -96px -202.6666666667px #ff008c, -242px -256.6666666667px #ff00a6, 18px -378.6666666667px #ff004d, 4px -268.6666666667px #0091ff, -151px -402.6666666667px #ae00ff, 74px -147.6666666667px #ff0900, 82px -274.6666666667px #00ff9d, -145px -172.6666666667px #0062ff, -218px -391.6666666667px #ff3c00, -142px -22.6666666667px #aeff00, 96px 46.3333333333px deepskyblue, -175px -113.6666666667px #04ff00, 192px -20.6666666667px #ff0040, -28px -365.6666666667px #00ff62, -80px -281.6666666667px #00fbff, 13px -164.6666666667px #ff5100, -148px -12.6666666667px #7300ff, 237px -3.6666666667px #5100ff, -19px -139.6666666667px #00ffb7, 41px -221.6666666667px #00fff7, -6px -398.6666666667px #ff5e00, -83px -36.6666666667px #00ff77, -27px -11.6666666667px #6aff00, 38px -170.6666666667px #ff9100, -7px -171.6666666667px #fb00ff, -202px -90.6666666667px #c400ff, -29px -30.6666666667px #95ff00, -50px 33.3333333333px #002bff, 16px -121.6666666667px #9900ff, -236px -167.6666666667px #00ff91, 151px -130.6666666667px #ff002b, -220px -112.6666666667px #bf00ff, 35px -95.6666666667px #ff0051, 223px -102.6666666667px deepskyblue, -18px -165.6666666667px #0095ff, 220px 40.3333333333px #d9ff00, -224px -162.6666666667px #ff1100, -51px -199.6666666667px #ff002b, 31px -19.6666666667px #ffae00, 22px -237.6666666667px #4dff00, 67px -272.6666666667px #fbff00, -20px -246.6666666667px #ff003c, -160px 78.3333333333px #e1ff00, -180px -82.6666666667px #0d00ff, -40px -208.6666666667px #001aff, -240px -282.6666666667px #ff00e1, 109px -21.6666666667px #ffa600, 85px -40.6666666667px #ff0080, -6px -376.6666666667px #ffd500;
  }
}
@keyframes bang {
  to {
    box-shadow: -70px -60.6666666667px #003cff, -2px -339.6666666667px #ff0077, -96px -202.6666666667px #ff008c, -242px -256.6666666667px #ff00a6, 18px -378.6666666667px #ff004d, 4px -268.6666666667px #0091ff, -151px -402.6666666667px #ae00ff, 74px -147.6666666667px #ff0900, 82px -274.6666666667px #00ff9d, -145px -172.6666666667px #0062ff, -218px -391.6666666667px #ff3c00, -142px -22.6666666667px #aeff00, 96px 46.3333333333px deepskyblue, -175px -113.6666666667px #04ff00, 192px -20.6666666667px #ff0040, -28px -365.6666666667px #00ff62, -80px -281.6666666667px #00fbff, 13px -164.6666666667px #ff5100, -148px -12.6666666667px #7300ff, 237px -3.6666666667px #5100ff, -19px -139.6666666667px #00ffb7, 41px -221.6666666667px #00fff7, -6px -398.6666666667px #ff5e00, -83px -36.6666666667px #00ff77, -27px -11.6666666667px #6aff00, 38px -170.6666666667px #ff9100, -7px -171.6666666667px #fb00ff, -202px -90.6666666667px #c400ff, -29px -30.6666666667px #95ff00, -50px 33.3333333333px #002bff, 16px -121.6666666667px #9900ff, -236px -167.6666666667px #00ff91, 151px -130.6666666667px #ff002b, -220px -112.6666666667px #bf00ff, 35px -95.6666666667px #ff0051, 223px -102.6666666667px deepskyblue, -18px -165.6666666667px #0095ff, 220px 40.3333333333px #d9ff00, -224px -162.6666666667px #ff1100, -51px -199.6666666667px #ff002b, 31px -19.6666666667px #ffae00, 22px -237.6666666667px #4dff00, 67px -272.6666666667px #fbff00, -20px -246.6666666667px #ff003c, -160px 78.3333333333px #e1ff00, -180px -82.6666666667px #0d00ff, -40px -208.6666666667px #001aff, -240px -282.6666666667px #ff00e1, 109px -21.6666666667px #ffa600, 85px -40.6666666667px #ff0080, -6px -376.6666666667px #ffd500;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .home {
    text-align: center;
    border: solid 12px black;
    width: 50%;
    height: auto;
    border-radius: 30px;
    margin-top: 7%;
  }

  .botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5%;
  }
  .botones li {
    list-style: none;
    padding: 3%;
    width: 80%;
    height: 30px;
    text-align: center;
    margin-top: 3px;
  }

  .botonDificultad {
    display: block;
    width: 100%;
    height: 120%;
  }

  .error {
    width: 80%;
    height: 30px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .error .botonError {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: block;
    width: 100%;
    height: 120%;
  }

  .saludo {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .saludo .em.em-question {
    font-size: 10px;
  }

  .logueo {
    width: 100%;
    margin-right: 6%;
  }

  .tablero {
    border: solid 14px black;
    width: 80%;
    height: auto;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .fichas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 2px;
  }
  .fichas .tarjeta {
    width: 90px;
    height: 90px;
    border: solid 2px #f3982f;
    margin: 2px;
  }

  .containerRanking, .containerEnd {
    margin-top: 10px;
    width: 60%;
    height: auto;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .home {
    text-align: center;
    border: solid 12px black;
    width: 30%;
    height: auto;
    border-radius: 30px;
    margin-top: 7%;
  }

  .botones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5%;
  }
  .botones li {
    list-style: none;
    padding: 3%;
    width: 80%;
    height: 30px;
    text-align: center;
    margin-top: 3px;
  }

  .botonDificultad {
    display: block;
    width: 100%;
    height: 120%;
  }

  .error {
    width: 80%;
    height: 30px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .error .botonError {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: block;
    width: 100%;
    height: 120%;
  }

  .saludo {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .saludo .em.em-question {
    font-size: 10px;
  }

  .logueo {
    width: 100%;
    margin-right: 6%;
  }

  .tablero {
    border: solid 14px black;
    width: 60%;
    height: auto;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .fichas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 2px;
  }
  .fichas .tarjeta {
    width: 90px;
    height: 90px;
    border: solid 2px #f3982f;
    margin: 2px;
  }

  .containerRanking, .containerEnd {
    margin-top: 10px;
    width: 40%;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
