body {
  background-image: url("../imagenes/fondo.jpg");
  background-size: 100%;
  font-family: "Pangolin", cursive;
  font-size: 15px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.color {
  filter: grayscale(100%);
}

h2 {
  font-family: "Pacifico", cursive;
  color: #18aed3;
}

.inicio {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.inicio .saludo {
  line-height: 1.6em;
}

.home {
  text-align: center;
  border: solid 10px black;
  width: 25%;
  height: auto;
  border-radius: 7%;
  background-color: antiquewhite;
  padding: 2%;
  top: 10px;
  position: absolute;
}
.home .em.em-hand {
  font-size: 15px;
}
.home .em.em-hand .em.em-question {
  font-size: 15px;
}

.logueo {
  width: 90%;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.botones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5%;
}
.botones li {
  list-style: none;
  padding: 2%;
  width: 280px;
  height: 30px;
  text-align: center;
}

.botonDificultad {
  background-color: #f3982f;
  border-radius: 8px;
  font-family: "Pangolin", cursive;
  border-style: none;
  color: white;
  display: block;
  width: 100%;
  height: 120%;
}

.oculto {
  display: none;
}

.error {
  width: 280px;
  height: 30px;
  margin-left: 8%;
}
.error .botonError {
  background-color: #e6b6e6;
  border-radius: 4px;
  font-family: "Pangolin", cursive;
  border-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: rgba(94, 17, 74, 0.897);
  display: block;
  width: 100%;
  height: 120%;
  filter: opacity(0.5);
}

.tablero {
  border: solid 12px black;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10%;
  right: 10%;
  width: 80;
  height: auto;
  border-radius: 20px;
  background-color: #f3ecec;
  background-color: rgba(255, 255, 255, 0.5);
}
.tablero .intentos {
  width: 42%;
  border: solid 4px #25afe6;
  border-radius: 7px;
  background-color: white;
  text-align: center;
  margin-left: 29%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
.tablero .intentos .text {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.numIntentos {
  color: #18aed3;
}

.encabezadoTablero {
  width: 50%;
  display: flex;
  position: relative;
  display: block;
  left: 250px;
}
.encabezadoTablero .texto {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

.intentosTit {
  color: #18aed3;
}
.intentosTit .nivelNombre {
  color: #18aed3;
}

.hola {
  font-size: 14px;
}
.hola .hola1 {
  color: #18aed3;
  font-size: 14px;
}

.fichas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2px;
}
.fichas .tarjeta {
  width: 100px;
  height: 100px;
  border: solid 2px #f3982f;
  margin: 4px;
}

.girar {
  transform: rotateY(1080deg);
  transition: all 1s ease-in-out;
}

.ranking1, .ranking2 {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.containerRanking, .containerEnd {
  text-align: center;
  border: solid 4px black;
  width: 20%;
  height: auto;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 2%;
  top: 40px;
  position: absolute;
}

.botonJuego {
  width: 50%;
  height: 40px;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botonVolver {
  background-color: #f3982f;
  border-radius: 8px;
  font-family: "Pangolin", cursive;
  border-style: none;
  color: white;
  display: block;
  width: 100%;
  height: 100%;
}

.opacity {
  filter: opacity(80%);
}

table {
  color: #f3982f;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 2px solid #272525;
  padding: 8px;
}

td {
  text-align: left;
}

th {
  text-align: center;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -219px -266.6666666667px #008cff, -177px 53.3333333333px #ff00dd, 104px 40.3333333333px #ffea00, 34px -202.6666666667px #ff9100, -73px -134.6666666667px #ff0900, 146px -303.6666666667px #002fff, -159px -146.6666666667px #77ff00, 95px -220.6666666667px #84ff00, -195px -128.6666666667px #ffd000, 219px -319.6666666667px #ff0062, 167px -384.6666666667px aqua, 222px -18.6666666667px #f7ff00, -179px 69.3333333333px #00bbff, -152px -270.6666666667px #ff00e1, 47px -409.6666666667px #00fbff, 235px -173.6666666667px #c800ff, -132px -273.6666666667px #d0ff00, 250px -315.6666666667px #6600ff, -234px -60.6666666667px #73ff00, 8px -320.6666666667px fuchsia, 66px -320.6666666667px #dd00ff, -178px -402.6666666667px #1500ff, 184px -82.6666666667px #f200ff, 201px -177.6666666667px #40ff00, -30px -204.6666666667px #00ff77, 151px -107.6666666667px #ff1100, 73px -0.6666666667px #d000ff, -55px -1.6666666667px #007bff, -228px -30.6666666667px #00ff4d, -237px 72.3333333333px #c4ff00, -181px -202.6666666667px #006fff, -113px -173.6666666667px #0015ff, 13px -334.6666666667px #d5ff00, 141px -78.6666666667px #ff00ea, 244px -322.6666666667px #f2ff00, -211px -279.6666666667px #ff00d0, -218px -228.6666666667px #ff0015, -121px 0.3333333333px #bfff00, 90px -293.6666666667px #ff004d, 188px -148.6666666667px #ff00ea, -85px 1.3333333333px #00fffb, -14px -328.6666666667px #00fbff, 71px -381.6666666667px #7bff00, -43px -284.6666666667px #ff0040, -201px 80.3333333333px #d000ff, 137px -190.6666666667px #bb00ff, -64px -273.6666666667px #ff009d, 197px -386.6666666667px #00a6ff, -45px -267.6666666667px #ff8800, -56px -227.6666666667px #bf00ff, 217px -130.6666666667px #006aff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -219px -266.6666666667px #008cff, -177px 53.3333333333px #ff00dd, 104px 40.3333333333px #ffea00, 34px -202.6666666667px #ff9100, -73px -134.6666666667px #ff0900, 146px -303.6666666667px #002fff, -159px -146.6666666667px #77ff00, 95px -220.6666666667px #84ff00, -195px -128.6666666667px #ffd000, 219px -319.6666666667px #ff0062, 167px -384.6666666667px aqua, 222px -18.6666666667px #f7ff00, -179px 69.3333333333px #00bbff, -152px -270.6666666667px #ff00e1, 47px -409.6666666667px #00fbff, 235px -173.6666666667px #c800ff, -132px -273.6666666667px #d0ff00, 250px -315.6666666667px #6600ff, -234px -60.6666666667px #73ff00, 8px -320.6666666667px fuchsia, 66px -320.6666666667px #dd00ff, -178px -402.6666666667px #1500ff, 184px -82.6666666667px #f200ff, 201px -177.6666666667px #40ff00, -30px -204.6666666667px #00ff77, 151px -107.6666666667px #ff1100, 73px -0.6666666667px #d000ff, -55px -1.6666666667px #007bff, -228px -30.6666666667px #00ff4d, -237px 72.3333333333px #c4ff00, -181px -202.6666666667px #006fff, -113px -173.6666666667px #0015ff, 13px -334.6666666667px #d5ff00, 141px -78.6666666667px #ff00ea, 244px -322.6666666667px #f2ff00, -211px -279.6666666667px #ff00d0, -218px -228.6666666667px #ff0015, -121px 0.3333333333px #bfff00, 90px -293.6666666667px #ff004d, 188px -148.6666666667px #ff00ea, -85px 1.3333333333px #00fffb, -14px -328.6666666667px #00fbff, 71px -381.6666666667px #7bff00, -43px -284.6666666667px #ff0040, -201px 80.3333333333px #d000ff, 137px -190.6666666667px #bb00ff, -64px -273.6666666667px #ff009d, 197px -386.6666666667px #00a6ff, -45px -267.6666666667px #ff8800, -56px -227.6666666667px #bf00ff, 217px -130.6666666667px #006aff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -219px -266.6666666667px #008cff, -177px 53.3333333333px #ff00dd, 104px 40.3333333333px #ffea00, 34px -202.6666666667px #ff9100, -73px -134.6666666667px #ff0900, 146px -303.6666666667px #002fff, -159px -146.6666666667px #77ff00, 95px -220.6666666667px #84ff00, -195px -128.6666666667px #ffd000, 219px -319.6666666667px #ff0062, 167px -384.6666666667px aqua, 222px -18.6666666667px #f7ff00, -179px 69.3333333333px #00bbff, -152px -270.6666666667px #ff00e1, 47px -409.6666666667px #00fbff, 235px -173.6666666667px #c800ff, -132px -273.6666666667px #d0ff00, 250px -315.6666666667px #6600ff, -234px -60.6666666667px #73ff00, 8px -320.6666666667px fuchsia, 66px -320.6666666667px #dd00ff, -178px -402.6666666667px #1500ff, 184px -82.6666666667px #f200ff, 201px -177.6666666667px #40ff00, -30px -204.6666666667px #00ff77, 151px -107.6666666667px #ff1100, 73px -0.6666666667px #d000ff, -55px -1.6666666667px #007bff, -228px -30.6666666667px #00ff4d, -237px 72.3333333333px #c4ff00, -181px -202.6666666667px #006fff, -113px -173.6666666667px #0015ff, 13px -334.6666666667px #d5ff00, 141px -78.6666666667px #ff00ea, 244px -322.6666666667px #f2ff00, -211px -279.6666666667px #ff00d0, -218px -228.6666666667px #ff0015, -121px 0.3333333333px #bfff00, 90px -293.6666666667px #ff004d, 188px -148.6666666667px #ff00ea, -85px 1.3333333333px #00fffb, -14px -328.6666666667px #00fbff, 71px -381.6666666667px #7bff00, -43px -284.6666666667px #ff0040, -201px 80.3333333333px #d000ff, 137px -190.6666666667px #bb00ff, -64px -273.6666666667px #ff009d, 197px -386.6666666667px #00a6ff, -45px -267.6666666667px #ff8800, -56px -227.6666666667px #bf00ff, 217px -130.6666666667px #006aff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -219px -266.6666666667px #008cff, -177px 53.3333333333px #ff00dd, 104px 40.3333333333px #ffea00, 34px -202.6666666667px #ff9100, -73px -134.6666666667px #ff0900, 146px -303.6666666667px #002fff, -159px -146.6666666667px #77ff00, 95px -220.6666666667px #84ff00, -195px -128.6666666667px #ffd000, 219px -319.6666666667px #ff0062, 167px -384.6666666667px aqua, 222px -18.6666666667px #f7ff00, -179px 69.3333333333px #00bbff, -152px -270.6666666667px #ff00e1, 47px -409.6666666667px #00fbff, 235px -173.6666666667px #c800ff, -132px -273.6666666667px #d0ff00, 250px -315.6666666667px #6600ff, -234px -60.6666666667px #73ff00, 8px -320.6666666667px fuchsia, 66px -320.6666666667px #dd00ff, -178px -402.6666666667px #1500ff, 184px -82.6666666667px #f200ff, 201px -177.6666666667px #40ff00, -30px -204.6666666667px #00ff77, 151px -107.6666666667px #ff1100, 73px -0.6666666667px #d000ff, -55px -1.6666666667px #007bff, -228px -30.6666666667px #00ff4d, -237px 72.3333333333px #c4ff00, -181px -202.6666666667px #006fff, -113px -173.6666666667px #0015ff, 13px -334.6666666667px #d5ff00, 141px -78.6666666667px #ff00ea, 244px -322.6666666667px #f2ff00, -211px -279.6666666667px #ff00d0, -218px -228.6666666667px #ff0015, -121px 0.3333333333px #bfff00, 90px -293.6666666667px #ff004d, 188px -148.6666666667px #ff00ea, -85px 1.3333333333px #00fffb, -14px -328.6666666667px #00fbff, 71px -381.6666666667px #7bff00, -43px -284.6666666667px #ff0040, -201px 80.3333333333px #d000ff, 137px -190.6666666667px #bb00ff, -64px -273.6666666667px #ff009d, 197px -386.6666666667px #00a6ff, -45px -267.6666666667px #ff8800, -56px -227.6666666667px #bf00ff, 217px -130.6666666667px #006aff;
  }
}
@keyframes bang {
  to {
    box-shadow: -219px -266.6666666667px #008cff, -177px 53.3333333333px #ff00dd, 104px 40.3333333333px #ffea00, 34px -202.6666666667px #ff9100, -73px -134.6666666667px #ff0900, 146px -303.6666666667px #002fff, -159px -146.6666666667px #77ff00, 95px -220.6666666667px #84ff00, -195px -128.6666666667px #ffd000, 219px -319.6666666667px #ff0062, 167px -384.6666666667px aqua, 222px -18.6666666667px #f7ff00, -179px 69.3333333333px #00bbff, -152px -270.6666666667px #ff00e1, 47px -409.6666666667px #00fbff, 235px -173.6666666667px #c800ff, -132px -273.6666666667px #d0ff00, 250px -315.6666666667px #6600ff, -234px -60.6666666667px #73ff00, 8px -320.6666666667px fuchsia, 66px -320.6666666667px #dd00ff, -178px -402.6666666667px #1500ff, 184px -82.6666666667px #f200ff, 201px -177.6666666667px #40ff00, -30px -204.6666666667px #00ff77, 151px -107.6666666667px #ff1100, 73px -0.6666666667px #d000ff, -55px -1.6666666667px #007bff, -228px -30.6666666667px #00ff4d, -237px 72.3333333333px #c4ff00, -181px -202.6666666667px #006fff, -113px -173.6666666667px #0015ff, 13px -334.6666666667px #d5ff00, 141px -78.6666666667px #ff00ea, 244px -322.6666666667px #f2ff00, -211px -279.6666666667px #ff00d0, -218px -228.6666666667px #ff0015, -121px 0.3333333333px #bfff00, 90px -293.6666666667px #ff004d, 188px -148.6666666667px #ff00ea, -85px 1.3333333333px #00fffb, -14px -328.6666666667px #00fbff, 71px -381.6666666667px #7bff00, -43px -284.6666666667px #ff0040, -201px 80.3333333333px #d000ff, 137px -190.6666666667px #bb00ff, -64px -273.6666666667px #ff009d, 197px -386.6666666667px #00a6ff, -45px -267.6666666667px #ff8800, -56px -227.6666666667px #bf00ff, 217px -130.6666666667px #006aff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
